header{
    position: fixed;
    width: 100vw;
    background: url(../imgs/ceu\ estrelado.jpg);
    opacity: 97%;
    z-index: 2;
}

#itens-header{
    transition: transform 1s;
}

#itens-header:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out .75s;
}

#div-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 1.2em;           
}

.pure-menu-list{
    display: flex;
}

#short-menu{
    opacity: 100%;
}

.pure-menu-item{
    display: flex;
    font-size: 1.5rem;
}

.pure-menu-link{
    color: white;
}

.pure-g{
    display: flex;
}

.pure-u-1-3{
    background-color: white;
    opacity: 0.6;
    width: 100%;
    height: 0.2em;
}