header{
    position: fixed;
    width: 100vw;
    background: url(../imgs/header.jpg);
    z-index: 2;
}

.div-header{
    padding: 5px;
}

.caixa-header{
    height: 15px;
    background: linear-gradient(#070154, #390340, #9d0989);
    opacity: 80%;
}

.itens-header{
    transition: transform 1s;
    color: white;
}

.itens-header:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.7s;
    background-color: black;
    opacity: 50%;
    z-index: 1;
}