.pagina-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
}

.minha-foto{
    border-radius: 100%;
    width: 15em;
}

.itens-sobre-mim{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.teste{
    font-size: 1rem;
    padding-top: 40px;
}