.pagina-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
}

#inicial{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.pure-menu-item{
    align-items: center;
    justify-content: center;
}

#nome{
    opacity: 100;
    color: white;
    font-size: 2.5rem;
    font-family: Georgia;
}

.pure-img{
    border-radius: 100%;
    width: 15em;
    border: solid rgba(255, 255, 255, 0.548);
}

.pure-menu-span{
    color: white;
    font-size: 1.8rem;
    font-family: cursive;
}