.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width:768px){
    .skill-header{
        display: none;
    }
    .skills{
        display: none;
    }
}